In [69]:
import pandas as pd
import dplython
import re

# 1. IMPORT DATA

In [22]:
file = open("datachat.txt","r",encoding="utf8") 
dn = file.readlines()
#file.close()

# 2. UNDERSTANDING DATA

In [23]:
# Melihat tipe data 
print(type(dn))

<class 'list'>

In [26]:
## Melihat isi data beberapa baris
for k in range(0,10):
    print(dn[k])

25/6/15, 1:42:12 AM: ‚ÄéVishnu Gaud created this group

25/6/15, 1:42:12 AM: ‚ÄéYou were added

18/12/16, 1:57:38 AM: Shahain: <‚Äéimage omitted>

21/12/16, 9:54:46 PM: Pankaj Sinha: <‚Äéimage omitted>

21/12/16, 9:57:45 PM: Shahain: Wow

21/12/16, 10:48:51 PM: Sakshi: <‚Äéimage omitted>

21/12/16, 10:49:00 PM: Sakshi: <‚Äéimage omitted>

21/12/16, 10:50:12 PM: Neha Wipro: AwsumüòÄüòÄüëçüèºüëçüèº

21/12/16, 10:51:21 PM: Sakshi: üôà

21/12/16, 10:57:01 PM: Ganguly: üôÇüôÇüëçüèªüëçüèª

In [45]:
for k in range(len(dn)-10,len(dn)):
    print(dn[k])

‡§è‡§ï ‡§ú‡•à‡§∏‡•Ä ‡§π‡•Ä ‡§π‡•ã‡§§‡•Ä ‡§π‡•à...!!



üëå ‡§¨‡§π‡•Å‡§§ ‡§∏‡•Å‡§®‡•ç‡§¶‡§∞ ‡§∏‡§®‡•ç‡§¶‡•á‡§∂ üëå-::



‡§Ö‡§ó‡§∞ ‡§Ü‡§™ ‡§ï‡§ø‡§∏‡•Ä ‡§ï‡•ã ‡§õ‡•ã‡§ü‡§æ ‡§¶‡•á‡§ñ ‡§∞‡§π‡•á ‡§π‡•ã, ‡§§‡•ã ‡§Ü‡§™ ‡§â‡§∏‡•á;



‡§Ø‡§æ ‡§§‡•ã "‡§¶‡•Ç‡§∞" ‡§∏‡•á ‡§¶‡•á‡§ñ ‡§∞‡§π‡•á ‡§π‡•ã,



‡§Ø‡§æ ‡§Ö‡§™‡§®‡•á "‡§ó‡•Å‡§∞‡•Å‡§∞" ‡§∏‡•á ‡§¶‡•á‡§ñ ‡§∞‡§π‡•á ‡§π‡•ã !

‚ô§‚ô§‚ô§‚ô§‚ô§‚ô§‚ô§‚ô§‚ô§‚ô§‚ô§‚ô°‚ô° üíêüíêüíê

Kesimpulan : data terdiri dari komponen date, time, chatting. Beberapa baris mengandung tanda baca, emoticon, bahasa india. Beberapa data juga tidak lengkap komponenya.

# 3. Cleaning Data

In [95]:
dn[0]

'25/6/15, 1:42:12 AM: \u200eVishnu Gaud created this group\n'

In [150]:
spl = re.compile("(?<=\\d{2}/\\d{2}/\\d{4})").split(dn[1])
spl

['25/6/15, 1:42:12 AM: \u200eYou were added\n']

In [153]:
spl = re.compile("(?<=!^)\s+(?=[A-Z])(?!.\s)").split(dn[1])
spl

['25/6/15, 1:42:12 AM: \u200eYou were added\n']

In [178]:
spl = re.compile("[0-9]").split(dn[1])
spl

['', '', '/', '/', '', ', ', ':', '', ':', '', ' AM: \u200eYou were added\n']

In [189]:
m= re.search('(?<=-)\w+', 'spam-egg')
m.group(0)

'egg'

In [202]:
m= re.compile('\W').split('spam - egg')
m

['spam', '', '', 'egg']

In [59]:
  
# create a new data frame 
df = pd.DataFrame({'Name': ['John Larter', 'Robert Junior', 'Jonny Depp'], 
                   'Age':[32, 34, 36]}) 
   
print("Given Dataframe is :\n",df) 
   
# bydefault splitting is done on the basis of single space. 
print("\nSplitting 'Name' column into two different columns :\n", 
                                  df.Name.str.split(expand=True))

Given Dataframe is :
             Name  Age
0    John Larter   32
1  Robert Junior   34
2     Jonny Depp   36

Splitting 'Name' column into two different columns :
         0       1
0    John  Larter
1  Robert  Junior
2   Jonny    Depp

In [60]:
df

            Name  Age
0    John Larter   32
1  Robert Junior   34
2     Jonny Depp   36

In [62]:
df.Name.str.split(expand=True)

        0       1
0    John  Larter
1  Robert  Junior
2   Jonny    Depp

In [87]:
import re
m = re.search('(?<=abc)def', 'abcdef')

In [93]:
txt = "25/6/15, 1:42:12 AM: ‚ÄéVishnu Gaud created this group"
x = re.split("(?<=\\d{2}/\\d{2}/\\d{4}, \\d{2}:\\d{2}) - ", txt)
print(x)

['25/6/15, 1:42:12 AM: \u200eVishnu Gaud created this group']